footer {
    height: 15vh;
    background-color: var(--navbar-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

footer i{
    font-size: 1.6em;
    margin: 1vh;
    transition: 0.3s ease;
    cursor: pointer;
}

footer i:hover{
    color: var(--accent-color);
}