footer {
    height: 15vh;
    background-color: var(--footer-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
    color: var(--footer-text-color);
}

footer > * {
    margin: 1vh;
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer a:visited {
    color: var(--footer-text-color);
}

.credits {
    opacity: 70%;
}

footer i{
    font-size: 1.6em;
    margin: 1vh;
    transition: 0.3s ease;
    cursor: pointer;
    color: var(--footer-text-color);
}

footer i:hover{
    color: var(--footer-button-hover-color);
}