:root {
    --about-section-size: 40vw;
    --section-size: 35vw;
    --section-text-size: 1.2em;
    --section-images-w: 40vw;
    --section-images-h: 60vh;
    --section-images-image-w: 10vw;
    --section-images-hover-w: 80vw;
}

.header_image {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header_image img {
    width: 100%;
    position: absolute;
}

.header_image .header_image_logo {
    position: absolute;
    z-index: 1;
    width: 50vh;
}

.features {
    display: flex;
    justify-content: center;
}

.features > ul{
    display: flex;
    font-size: var(--section-text-size);
}

.features > ul > div {
    width: 35vw;
    margin: 5vh;
}

.features i {
    margin-right: 1.3vw;
    color: var(--accent-color);
}

.features li {
    display: flex;
    align-items: center;
}

.about_text {
    width: var(--about-section-size);
    font-size: var(--section-text-size)
}

.about_image {
    margin-left: 3vh;
}

.section_text {
    width: var(--section-size);
    font-size: var(--section-text-size)
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh;
    background-color: var(--navbar-color);
}

.section_images {
    display: flex;
    width: var(--section-images-w);
    height: var(--section-images-h);
    transition: 500ms ease-in-out;
    margin: 3vh;

}

.section_images > .image {
    width: var(--section-images-image-w);
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5vw;
    transition: 500ms ease-in-out;
}

.section_images > .image:hover {
    width: var(--section-images-hover-w);
    transition: 500ms ease-in-out;

}

.section_images img {
    height: 100%;
    transition: 500ms ease-in-out;
}