@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
    --main-bg-color: rgb(243, 243, 243);
    --navbar-color: white;
    --accent-color: rgb(215, 139, 81);
    --text-color: rgb(100, 100, 100);
    --navbar-height: 20vh;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--navbar-height);
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
    font-family: 'Monsterrat', sans-serif;
    color: var(--text-color);
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--accent-color);
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--accent-color);
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

a {
    color: var(--text-color);
}
a:visited {
    color: var(--text-color);
}

ul {
    list-style: none;
}