@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
    --accent-color: rgb(215, 139, 81);
    --secondary-color: rgb(255, 255, 255);
    --main-bg-color: rgb(243, 243, 243);
    --text-color: rgb(100, 100, 100);
    --h1-color: var(--accent-color);
    --h2-color: var(--accent-color);
    --navbar-color: #0c112a;
    --navbar-text-color: #ffffff;
    --navbar-height: 20vh;
    --navbar-button-hover-color: var(--accent-color);
    --navbar-price-button-color: var(--accent-color);
    --navbar-price-button-text-color: var(--secondary-color);
    --home-features-icons-color: var(--accent-color);
    --home-sections-color: var(--secondary-color);
    --home-location-links-color: var(--accent-color);
    --contacts-contact-card-bg: var(--secondary-color);
    --prices-color-1: var(--accent-color);
    --prices-color-2: var(--secondary-color);
    --prices-bullet-color: var(--accent-color);
    --footer-color: #0c112a;
    --footer-button-hover-color: var(--accent-color);
    --footer-text-color: rgb(130, 130, 130);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--navbar-height);
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
    font-family: 'Monsterrat', sans-serif;
    color: var(--text-color);
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--h1-color);
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--h2-color);
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

a {
    color: var(--navbar-text-color);
}
a:visited {
    color: var(--navbar-text-color);
}

ul {
    list-style: none;
}

@media (max-width: 1100px) {
    html,body{
        overflow-x: hidden;
    }
}