header {
    background-color: var(--navbar-color);
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
    color: var(--navbar-text-color);
}

header > *{
    margin: 3vh;
}

.navbar_logo img {
    width: 15vw;
}

.navbar_languages img {
    width: 2vw;
    cursor: pointer;
}

.navbar_buttons > * {
    margin: 1vh;
    transition: 0.3s ease;
}

.navbar_buttons > *:hover {
    color: var(--navbar-button-hover-color);
}

.navbar_book > * {
    background-color: var(--navbar-price-button-color);
    color: var(--navbar-price-button-text-color);
    padding: 2vh 4vh;
    border-radius: 10em;
}

.hamburger_menu {
    display: none;
}

.right {
    display: flex;
    align-items: center;
}

.right > * {
    margin: 1vw;
}

@media (max-width: 600px) {
    .hamburger_menu {
        display: block;
        font-size: 1.5em;
    }

    .navbar_logo {
        display: none;
    }

    header {
        padding: 1vw;
        position: static;
        display: flex;
        justify-content: space-between;
        height: min-content;
    }
    
    header > *{
        margin: 1vh;
    }
    
    .navbar_languages {
        width: max-content;
    }

    .navbar_languages img {
        width: 5vw;
    }
    
    .navbar_buttons > * {
        margin: 0.5vw;
    }

    .navbar_buttons {
        display: none;
        flex-direction: column;
    }
    
    .navbar_book > * {
        padding: 1.5vh 2.5vh;
    }
}